arrow-cpp==16.1.0
babel==2.11.0
joblib==1.4.2
json5==0.9.25
jsonschema==4.23.0
jsonschema-specifications==2023.7.1
matplotlib==3.9.2
matplotlib-base==3.9.2
matplotlib-inline==0.1.6
numpy==1.26.4
numpy-base==1.26.4
packaging==24.1
pandas==2.2.3
plotly==5.24.1
pyarrow==16.1.0
pycparser==2.21
pydeck==0.8.0
pygments==2.15.1
pyparsing==3.2.0
pyqt==5.15.10
pyqt5-sip==12.13.0
pysocks==1.7.1
python==3.10.15
python-dateutil==2.9.0post0
python-fastjsonschema==2.20.0
python-json-logger==2.0.7
python-tzdata==2023.3
pytz==2024.1
pywin32==305
pywinpty==2.0.14
pyyaml==6.0.2
pyzmq==25.1.2
requests==2.32.3
scikit-learn==1.1.3
scipy==1.14.1
seaborn==0.13.2
six==1.16.0
sqlite==3.45.3
streamlit==1.40.1
urllib3==2.2.3
wordcloud==1.9.3
